output "DP-1" {
    mode "2560x1440@500"

    scale 1

    transform "normal"

    position x=0 y=0

    max-bpc 10
    hdr {
        reference-luminance 203
    }
}

output "DP-2" {
    mode "1920x1080@300.002"

    scale 1

    transform "90"

    position x=-1080 y=-128
}

output "DP-3" {
    mode "2560x1440@165"

    scale 1

    transform "normal"

    position x=1920 y=0
}
